.mainPage {
  /* display: 'flex'; */
}

.content {
  display: flex;
}

.ant-modal-content {
  background-color: black !important;
}

::-webkit-scrollbar {/* esconde la barra de scroll  */
  display: none;
} 


::-moz-scrollbar-button, ::-webkit-scrollbar-button {
  width: 0px;
}