.ant-modal-content {
  background-color: #181818 !important;
}

::-webkit-scrollbar {
  /* esconde la barra de scroll  */
  display: none;
}


::-moz-scrollbar-button,
::-webkit-scrollbar-button {
  width: 0px;
}