.section-user,
.section-search {
  display: flex;
  justify-content: end;
  align-items: center;
  background: #141414;
}

.ant-input-group-addon button {
  background-color: #141414;
}


.ant-input-group-addon button svg {
  color: #fff;
}

.ant-input-affix-wrapper {
  background-color: #141414;
}

.ant-input-affix-wrapper input {
  background-color: #141414;
  color: #fff;
}

.ant-menu-item {
  color: rgb(255, 255, 255);
}

.ant-menu-dark.ant-menu-horizontal>.ant-menu-item-selected {
  color: #7a7a7a;
}

/* .ant-menu-light.ant-menu-horizontal>.ant-menu-item-active:hover::after {
  border-bottom-color: #ec0303;
}

.ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected::after {
  border-bottom-color: #ec0303;
} */