.section-user,
.section-search {
  display: flex;
  justify-content: end;
  align-items: center;
}

.ant-input-group-addon button svg {
  color: #fff;
}

.ant-menu-item {
  color: rgb(255, 255, 255);
}

.ant-menu-dark.ant-menu-horizontal>.ant-menu-item-selected {
  color: #ffd45a;
}


.ant-menu-dark.ant-menu-horizontal>.ant-menu-item-selected {
  background: none;
  height: 65px;
}

@media screen and (max-width: 575px) {
  .section-user,
  .section-search {
    display: none;
  }
}
  
