/* .infoCardCoursesInProgress{
  font-size: 10px;
}

.videoCard {
  height: 200px;
  width: 120px;
  background-color: black;
  padding: 0;
  margin: 0;
}

.videoCard  img{
  height: 200px;
  width: 120px;
  overflow: hidden;
}

.titleV {
  color: rgb(255, 255, 255);
} */


