.accountPage {
  width: 100%;
  height: 100vh;
  padding-left: 30px;
  color: #fff;
}

.ant-checkbox+span {
  color: rgb(255, 255, 255);
}

.ant-input-affix-wrapper .anticon.ant-input-password-icon {
  color: rgba(143, 143, 143, 0.45);
}

.site-form-item-icon {
  color: rgb(66, 66, 66);
}

.ant-input-affix-wrapper {
  color: rgb(0, 0, 0);
  background-color: #fff !important;
}

.ant-input-affix-wrapper input {
  color: rgb(80, 80, 80) !important;
  background-color: #fff !important;
}

.ant-form-vertical .ant-form-item-label>label {
  color: white
}